In [13]:
%matplotlib inline
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as ss
import re

In [29]:
df = pd.read_csv('MERGED2011_PP.csv', header=0)

In [34]:
dd = pd.read_csv('CollegeScorecardDataDictionary-09-12-2015.csv', header=0)
dd

,NAME OF DATA ELEMENT,Year,dev-category,developer-friendly name,VARIABLE NAME,API data type,label,VALUE,LABEL,SCORECARD? Y/N,SOURCE,NOTES
0,Unit ID for institution,NaN,root,id,UNITID,integer,NaN,NaN,NaN,NaN,IPEDS,NaN
1,8-digit OPE ID for institution,NaN,root,ope8_id,OPEID,integer,NaN,NaN,NaN,NaN,IPEDS,NaN
2,6-digit OPE ID for institution,NaN,root,ope6_id,opeid6,integer,NaN,NaN,NaN,NaN,IPEDS,NaN
3,Institution name,2013,school,name,INSTNM,string,NaN,NaN,NaN,Y,IPEDS,NaN
4,City,2013,school,city,CITY,string,NaN,NaN,NaN,Y,IPEDS,NaN
5,State postcode,2013,school,state,STABBR,string,NaN,NaN,NaN,Y,IPEDS,NaN
6,ZIP code,2013,school,zip,ZIP,integer,NaN,NaN,NaN,Y,IPEDS,NaN
7,Accreditor for institution,NaN,school,accreditor,AccredAgency,string,NaN,NaN,NaN,NaN,IPEDS,NaN
8,URL for institution's homepage,2013,school,school_url,INSTURL,string,NaN,NaN,NaN,Y,IPEDS,NaN
9,URL for institution's net price calculator,2013,school,price_calculator_url,NPCURL,string,NaN,NaN,NaN,Y,IPEDS,NaN
10,Predominant degree awarded (recoded 0s and 4s),NaN,school,degrees_awarded.predominant_recoded,sch_deg,integer,NaN,,NaN,NaN,IPEDS,"Missing values, 0s, and 4s from PREDDEG recode..."
11,Flag for main campus,NaN,school,main_campus,main,integer,NaN,0,Not main campus,NaN,IPEDS,NaN
12,NaN,NaN,school,NaN,NaN,NaN,NaN,1,Main campus,NaN,NaN,NaN
13,Number of branch campuses,NaN,school,branches,NUMBRANCH,integer,NaN,NaN,NaN,NaN,IPEDS,NaN
14,Predominant degree awarded\n0 Not class...,2013,school,degrees_awarded.predominant,PREDDEG,integer,NaN,0,Not classified,Y,IPEDS,NaN
15,NaN,NaN,school,NaN,NaN,NaN,NaN,1,Predominantly certificate-degree granting,NaN,NaN,NaN
16,NaN,NaN,school,NaN,NaN,NaN,NaN,2,Predominantly associate's-degree granting,NaN,NaN,NaN
17,NaN,NaN,school,NaN,NaN,NaN,NaN,3,Predominantly bachelor's-degree granting,NaN,NaN,NaN
18,NaN,NaN,school,NaN,NaN,NaN,NaN,4,Entirely graduate-degree granting,NaN,NaN,NaN
19,Highest degree awarded\n0 Non-degree-gr...,2013,school,degrees_awarded.highest,HIGHDEG,integer,NaN,0,Non-degree-granting,Y,IPEDS,NaN
20,NaN,NaN,school,NaN,NaN,NaN,NaN,1,Certificate degree,NaN,NaN,NaN
21,NaN,NaN,school,NaN,NaN,NaN,NaN,2,Associate degree,NaN,NaN,NaN
22,NaN,NaN,school,NaN,NaN,NaN,NaN,3,Bachelor's degree,NaN,NaN,NaN
23,NaN,NaN,school,NaN,NaN,NaN,NaN,4,Graduate degree,NaN,NaN,NaN
24,Control of institution,2013,school,ownership,CONTROL,integer,NaN,1,Public,Y,IPEDS,NaN
25,NaN,NaN,school,NaN,NaN,NaN,NaN,2,Private nonprofit,NaN,NaN,NaN
26,NaN,NaN,school,NaN,NaN,NaN,NaN,3,Private for-profit,NaN,NaN,NaN
27,FIPS code for state,NaN,school,state_fips,st_fips,integer,NaN,1,Alabama,NaN,IPEDS,NaN
28,NaN,NaN,school,NaN,NaN,NaN,NaN,2,Alaska,NaN,NaN,NaN
29,NaN,NaN,school,NaN,NaN,NaN,NaN,4,Arizona,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1923,75th percentile of earnings of students workin...,NaN,earnings,8_yrs_after_entry.75th_percentile_earnings,pct75_earn_wne_p8,integer,NaN,NaN,NaN,NaN,Treasury,NaN
1924,90th percentile of earnings of students workin...,NaN,earnings,8_yrs_after_entry.90th_percentile_earnings,pct90_earn_wne_p8,integer,NaN,NaN,NaN,NaN,Treasury,NaN
1925,Standard deviation of earnings of students wor...,NaN,earnings,8_yrs_after_entry.std_deviation,sd_earn_wne_p8,float,NaN,NaN,NaN,NaN,Treasury,NaN
1926,"Share of students earning over $25,000/year (t...",NaN,earnings,8_yrs_after_entry.percent_greater_than_25000,gt_25k_p8,float,NaN,NaN,NaN,NaN,Treasury,NaN
1927,Number of students not working and not enrolle...,NaN,earnings,9_yrs_after_entry.not_working_not_enrolled,count_nwne_p9,integer,NaN,NaN,NaN,NaN,Treasury,NaN
1928,Number of students working and not enrolled 9 ...,NaN,earnings,9_yrs_after_entry.working_not_enrolled,count_wne_p9,integer,NaN,NaN,NaN,NaN,Treasury,NaN
1929,Mean earnings of students working and not enro...,NaN,earnings,9_yrs_after_entry.mean_earnings,mn_earn_wne_p9,float,NaN,NaN,NaN,NaN,Treasury,NaN
1930,Standard deviation of earnings of students wor...,NaN,earnings,9_yrs_after_entry.std_deviation,sd_earn_wne_p9,float,NaN,NaN,NaN,NaN,Treasury,NaN
1931,"Share of students earning over $25,000/year (t...",NaN,earnings,9_yrs_after_entry.percent_greater_than_25000,gt_25k_p9,float,NaN,NaN,NaN,NaN,Treasury,NaN
1932,"Median debt, suppressed for n=30",NaN,aid,median_debt_suppressed.overall,DEBT_MDN_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1933,"Median debt of completers, suppressed for n=30",2013,aid,median_debt_suppressed.completers.overall,GRAD_DEBT_MDN_SUPP,float,NaN,NaN,NaN,Y,NSLDS,NaN
1934,Median debt of completers expressed in 10-year...,2013,aid,median_debt_suppressed.completers.monthly_paym...,GRAD_DEBT_MDN10YR_SUPP,float,NaN,NaN,NaN,Y,NSLDS,NaN
1935,"3-year repayment rate, suppressed for n=30",2010 and 2011 repayment cohorts measured in 20...,repayment,3_yr_repayment_suppressed.overall,RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,Y,NSLDS,NaN
1936,3-year repayment rate for low-income (less tha...,NaN,repayment,3_yr_repayment_suppressed.income.low_income,LO_INC_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1937,3-year repayment rate for middle-income (betwe...,NaN,repayment,3_yr_repayment_suppressed.income.middle_income,MD_INC_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1938,3-year repayment rate for high-income (above $...,NaN,repayment,3_yr_repayment_suppressed.income.high_income,HI_INC_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1939,"3-year repayment rate for completers, suppress...",NaN,repayment,3_yr_repayment_suppressed.completers,COMPL_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1940,"3-year repayment rate for non-completers, supp...",NaN,repayment,3_yr_repayment_suppressed.non_completers,NONCOM_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1941,"3-year repayment rate for dependent students, ...",NaN,repayment,3_yr_repayment_suppressed.dependent_students,DEP_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1942,3-year repayment rate for independent students...,NaN,repayment,3_yr_repayment_suppressed.independent_students,IND_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1943,"3-year repayment rate for Pell students, suppr...",NaN,repayment,3_yr_repayment_suppressed.pell_grant,PELL_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1944,"3-year repayment rate for no-Pell students, su...",NaN,repayment,3_yr_repayment_suppressed.no_pell_grant,NOPELL_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1945,"3-year repayment rate for female students, sup...",NaN,repayment,3_yr_repayment_suppressed.female_students,FEMALE_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1946,"3-year repayment rate for male students, suppr...",NaN,repayment,3_yr_repayment_suppressed.male_students,MALE_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1947,3-year repayment rate for first-generation stu...,NaN,repayment,3_yr_repayment_suppressed.first_generation_stu...,FIRSTGEN_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1948,3-year repayment rate for non-first-generation...,NaN,repayment,3_yr_repayment_suppressed.non_first_generation...,NOTFIRSTGEN_RPY_3YR_RT_SUPP,float,NaN,NaN,NaN,NaN,NSLDS,NaN
1949,150% completion rate for less-than-four-year i...,2009 and 2010 cohorst measured in 2012 and 2013,completion,NaN,C150_L4_POOLED_SUPP,float,NaN,NaN,NaN,NaN,IPEDS,NaN
1950,150% completion rate for four-year institution...,2006 and 2007 cohorts measured in 2012 and 2013,completion,rate_suppressed.four_year,C150_4_POOLED_SUPP,float,NaN,NaN,NaN,Y,IPEDS,NaN
1951,200% completion rate for less-than-four-year i...,2008 and 2009 cohort measured in 2012 and 2013,completion,rate_suppressed.lt_four_year,C200_L4_POOLED_SUPP,float,NaN,NaN,NaN,Y,IPEDS,NaN
1952,200% completion rate for four-year institution...,2004 and 2005 cohorts measured in 2012 and 2013,completion,NaN,C200_4_POOLED_SUPP,float,NaN,NaN,NaN,NaN,IPEDS,NaN

In [33]:
dd['dev-category'].value_counts()

completion    1023
academics      228
school         165
repayment      130
student         94
earnings        73
cost            65
aid             40
admissions      25
root             5
dtype: int64

In [41]:
earning_cols = dd[dd['dev-category'] == 'earnings']['VARIABLE NAME']
print len(earning_cols)

73

In [42]:
repayment_cols = dd[dd['dev-category'] == 'repayment']['VARIABLE NAME']
print len(repayment_cols)

130

In [ ]:
removed_cols = []

total_len = df.shape[0]

for col in df.columns:
    
    bad_count = sum(df[col].isnull())
    if df[col].dtype == 'object':
        bad_count += df.loc[df[col] == 'PrivacySuppressed'].shape[0]
        
    if bad_count > total_len / 2.0:
        removed_cols.append(col)
    
print len(removed_cols)

In [47]:
removed_cols_set = set(removed_cols)
removed_cols_set = removed_cols_set.union(list(earning_cols.values))
removed_cols_set = removed_cols_set.union(list(repayment_cols.values))

removed_cols = list(removed_cols_set)
print len(removed_cols)

1112

In [48]:
df.drop(removed_cols, axis=1)

In [28]:
any(['pz' in col for col in df.columns])

x = [re.search(r'p\d$', col) for col in df.columns]
x = [m.string for m in x if m]
x.sort()
print len(x)
for m in x:
    print m

46
count_nwne_p6
count_nwne_p7
count_nwne_p8
count_nwne_p9
count_wne_inc1_p6
count_wne_inc2_p6
count_wne_inc3_p6
count_wne_indep0_inc1_p6
count_wne_indep0_p6
count_wne_indep1_p6
count_wne_male0_p6
count_wne_male1_p6
count_wne_p6
count_wne_p7
count_wne_p8
count_wne_p9
gt_25k_p6
gt_25k_p7
gt_25k_p8
gt_25k_p9
md_earn_wne_p6
md_earn_wne_p8
mn_earn_wne_inc1_p6
mn_earn_wne_inc2_p6
mn_earn_wne_inc3_p6
mn_earn_wne_indep0_inc1_p6
mn_earn_wne_indep0_p6
mn_earn_wne_indep1_p6
mn_earn_wne_male0_p6
mn_earn_wne_male1_p6
mn_earn_wne_p6
mn_earn_wne_p7
mn_earn_wne_p8
mn_earn_wne_p9
pct10_earn_wne_p6
pct10_earn_wne_p8
pct25_earn_wne_p6
pct25_earn_wne_p8
pct75_earn_wne_p6
pct75_earn_wne_p8
pct90_earn_wne_p6
pct90_earn_wne_p8
sd_earn_wne_p6
sd_earn_wne_p7
sd_earn_wne_p8
sd_earn_wne_p9